@font-face {
  font-family: "NHU";
  font-style: normal;
  font-weight: 200;
  src: url("/NHU-font/NHU-Thin.otf") format("opentype");
}

@font-face {
  font-family: "NHU";
  font-style: normal;
  font-weight: 300;
  src: url("/NHU-font/NHU-light.otf") format("opentype");
}

@font-face {
  font-family: "NHU";
  font-style: normal;
  font-weight: 400;
  src: url("/NHU-font/NHU-regular.otf") format("opentype");
}

@font-face {
  font-family: "NHU";
  font-style: normal;
  font-weight: 500;
  src: url("/NHU-font/NHU-medium.otf") format("opentype");
}

@font-face {
  font-family: "NHU";
  font-style: normal;
  font-weight: 700;
  src: url("/NHU-font/NHU-bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "NHU", "Times New Roman", Times, serif;
}

.app-html,
.app-body {
  min-height: 100vh;
}

.app-body {
  position: relative;
}

.app-shell {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 94vw;
}